@using ZivotopisCore.Models.Home
@model OsobneUdajeModel
    
<div class="telo">
    <h1 class="section-title">Osobné údaje</h1>

    <dl class="osobne-udaje">
        <dt>Titul</dt>
        <dd>@Model.Titul</dd>

        <dt>Meno</dt>
        <dd>@Model.Meno</dd>

        <dt>Priezvisko</dt>
        <dd>@Model.Priezvisko</dd>

        <dt>Obec</dt>
        <dd>@Model.Obec</dd>

        <dt>Stav</dt>
        <dd>@Model.Stav</dd>

        <dt>Email</dt>
        <dd>
            <i class="fas fa-envelope"></i>
            <a href="mailto:@Model.Email">@Model.Email</a>
        </dd>

        <dt>Telefón</dt>
        <dd>
            <i class="fas fa-phone"></i>
            <a href="tel:@Model.Telefon">@Model.Telefon</a>
        </dd>

        <dt>Sociálne siete</dt>
        <dd>
            <div class="ikonky">
                @foreach (var link in Model.SocialLinks)
                {
                    <a href="@link.Url" target="_blank" rel="noopener noreferrer" title="@link.Nazov">
                        <i class="@link.IkonaClass"></i>
                    </a>
                }
            </div>

        </dd>

        <dt>Viac informácií</dt>
        <dd>Biológ, ktorý by sa rád stal súčasťou IT sveta.</dd>
    </dl>
</div>